In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB

In [6]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
# Define the features and target variable
X = df[['total_bill', 'tip', 'size']]
y = df['sex']

model = GaussianNB()

scores = cross_val_score(model,X,y, cv=5, scoring='accuracy')

# Print the scores for each fold and the mean score
print("Scores for each fold:", scores)
print("Mean score:", scores.mean())
print("Standard deviation:", scores.std())

Scores for each fold: [0.55102041 0.55102041 0.59183673 0.65306122 0.54166667]
Mean score: 0.5777210884353741
Standard deviation: 0.04147568336521195

In [10]:
# Define the features and target variable
X = df[['total_bill', 'tip', 'size']]
y = df['sex']

model = GaussianNB()

X_train,X_test, y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
model.fit(X_train,y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate accuracy
print("Accuracy Score:", accuracy_score(y_test, y_pred))

Accuracy Score: 0.6530612244897959